<!-- Titulo -->
<title>Sangue</title>

<!-- Style -->
{{>receitaStyle}}

<!-- Body -->
<div class="container container-rec">
  <h1 class="text-center">Sangue</h1>

  <!-- Seção de texto de introdução -->
  <div class="intro-text">
    <p>
      A principal função do sangue é transportar substâncias vitais para todas
      as partes do corpo e realizar diversas funções essenciais. Algumas doenças
      que afetam o sistema sanguíneo incluem:
      <br />
      <br />
      - Anemia
      <br />
      - Leucemia
      <br />
      - Trombocitopenia
    </p>
  </div>
  <h1 class="text-center">Receita</h1>
  <!-- Exemplo de receita 1 -->
  <div class="row recipe">

    <div class="col-md-4">
      <img src="/img/receita/defaultReceita.jpg" alt="Receita 01">
    </div>
    <div class="col-md-8">
      <h2 class="recipe-title">Suco de Beterraba e Laranja:</h2>
      <p class="recipe-description">

        <h4>Ingredientes</h4>
        <br />
        - 1 beterraba média
        <br />
        - 2 laranjas
        <br />
        <br />
         <h4>Instruções</h4>
        
        <br />
        - Descasque a beterraba e corte em pedaços pequenos.
        <br />
        - Esprema o suco das laranjas.
        <br />
        - Coloque a beterraba e o suco de laranja no liquidificador e bata até obter uma mistura homogênea.
        <br />
        - Beba este suco pelo menos uma vez ao dia para aumentar os níveis de ferro no sangue.
        <br />
        <br />
        O suco de Beterraba e Laranja é uma receita eficaz para ajudar na anemia, fornecendo ao corpo o ferro necessário e 
        facilitando sua absorção, o que pode ajudar a aumentar os níveis de hemoglobina e melhorar a saúde do sangue.
      </p>
    </div>
  </div>
</div>