nav.navbar 
  .navbar-logo 

  h1.navbar-title Cozinha Consciente
  ul.navbar-links 
    li 
      a(href="/") Home
      a(href="/user/login") Login
      a(href="/user/cadastro") Cadastro
      a(href="/informacoes") Informações