<!-- Titulo -->
<title>Estômago</title>

<!-- Style -->
{{>receitaStyle}}

<!-- Body -->
<div class="container container-rec">
    <h1 class="text-center">Estômago</h1>

    <!-- Seção de texto de introdução -->
    <div class="intro-text">
        <p>
            O estômago é um órgão do sistema digestivo responsável por iniciar a digestão de alimentos. 
            Existem várias doenças que afetam esse sistema, algumas das quais incluem:
            <br />
            - Gastrite
            <br />
            - Digestão Pesada
            <br />
            - Acidez Estomacal
        </p>
    </div>
    <h1 class="text-center">Receita</h1>
    <!-- Exemplo de receita 1 -->
    <div class="row recipe">

        <div class="col-md-4">
            <img src="/img/receita/defaultReceita.jpg" alt="Receita 01">
        </div>
        <div class="col-md-8">
            <h2 class="recipe-title">Água com Limão e Bicarbonato de Sódio</h2>
            <p class="recipe-description">

                <h4>Ingredientes</h4>
                <br />
                - 1 copo de água
                <br />
                - Suco de meio limão fresco
                <br />
                - 1/2 colher de chá de bicarbonato de sódio
                <br />
                <br />
                <h4>Instruções</h4>
        
                <br />
                - Esprema o suco de meio limão fresco na água. Certifique-se de que o limão esteja fresco, pois o suco fresco é mais eficaz.
                <br />
                - 1/2 colher de chá de bicarbonato de sódio à mistura de água com limão. Mexa bem até que o bicarbonato de sódio se dissolva completamente.
                <br />
                - Beba esta solução lentamente. É melhor consumi-la com o estômago vazio ou cerca de 30 minutos antes das refeições, se você estiver usando-a para ajudar na digestão.
                <br />
                <br />
                Esta mistura de água com limão e bicarbonato de sódio pode ajudar a aliviar temporariamente sintomas 
                como azia e indigestão devido às propriedades alcalinas do bicarbonato de sódio.
            </p>
        </div>
    </div>


</div>